.headerContent {
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1024px;
  align-items: center;
}

.profile {
  flex: 1;
  display: flex;
  max-width: 50%;
}

.profile a {
  display: flex;
  flex-direction: row;
  color: inherit;
  text-decoration: none;
}

.profile h1 {
  margin: 0;
  font-size: 1.5rem;
}

.navbar {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.navbar a {
  display: flex;
  flex-direction: row;
  color: inherit;
  align-items: center;
  margin-left: 1rem;
}

.navbar .icon {
  margin-left: 0;
  text-decoration: none;
}
