
.header {
  position: sticky;
  top: 0;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  background: white;
  z-index: 1000;
  border-bottom: 1px solid #eaeaea;
}

.navbar {
  flex: 1;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1024px;
  text-align: center;
}

.navbar a {
  color: inherit;
  text-decoration: none;
}